# Environment
.env

# Package managers
node_modules

# Build
build

# IDEs and editors
.idea
.project
.vscode
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Linux
*~

# OSX
*.DS_Store
.AppleDouble
.LSOverride

#Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
